{% block potato_media_image_upload_type_widget %}
    {% include "PotatoMediaBundle:Form:types/image_upload.html.twig" %}
{% endblock %}
{% block potato_media_image_crop_type_widget %}
    {% include "PotatoMediaBundle:Form:types/image_crop.html.twig" %}
{% endblock %}