<input class="potato-media-iframe-upload" name="{{ name }}" id="potato-media-iframe-upload-{{ name }}" type="file">

<script>
    {% if callback %}
        uploaded = {{ callback | raw }};
    {% else %}
        uploaded = function() {};
    {% endif %}

    var iframeUpload = PotatoMedia.generateIframeUpload(document.getElementById('potato-media-iframe-upload-{{ name }}'), '{{ action }}', uploaded);

    {% if options is defined %}
        {% for key, value in options %}
            iframeUpload.addOption('{{ key }}', '{{ value }}');
        {% endfor %}
    {% endif %}
</script>