<span class="address-container-{{ uniqid }}">{{ form_widget(form) }}</span>
<a href="#" style="display: none" id="address-do-you-mean-{{ uniqid }}"></a>
<script>
    if (typeof jQuery == 'undefined') { throw "No JQuery library found."; }

    jQuery(document).ready(function() {
        var $ = jQuery;

        var $container = $('.address-container-{{ uniqid }}');

        var $city = $('input', $container).filter(function() { return this.id.indexOf('_city') > -1});
        var $state = $('input', $container).filter(function() { return this.id.indexOf('_state') > -1});
        var $country = $('input', $container).filter(function() { return this.id.indexOf('_country') > -1});
        var $doYouMean = $('#address-do-you-mean-{{ uniqid }}');

        function searchForLocation() {
            function getDataFromResult(result) {
                for (var k in result) {
                    return result[k];
                }
            }

            var location = $city.val() + ' ' + $state.val() + ' ' + $country.val();
            $.ajax({
                dataType: 'json',
                url: '{{ path('_location_find', {location: '_location_'}) }}'.replace('_location_', location),
                success: function(result) {
                    var data = getDataFromResult(result);

                    if (!(data && data.city)) {
                        $doYouMean.hide();
                        return;
                    }

                    var city = data.city.name;
                    var state = data.city.state.name;
                    var country = data.city.state.country.name;

                    var resultString = city + ' ' + state + ' ' + country;
                    var currentString = $city.val() + ' ' + $state.val() + ' ' + $country.val();

                    if (resultString == currentString) {
                        return false;
                    }

                    $doYouMean
                        .html('{{ 'address.do_you_mean'|trans({'%location%': '_location_'}) }}'.replace('_location_', resultString))
                        .show();

                    $doYouMean
                        .data('autofill-city', city)
                        .data('autofill-state', state)
                        .data('autofill-country', country)
                }
            })
        }

        $doYouMean.on('click', function(e) {
            e.preventDefault();

            var $this = $(this);

            if (!$this.data('autofill-city')) {
                return;
            }

            $city.val($this.data('autofill-city'));
            $state.val($this.data('autofill-state'));
            $country.val($this.data('autofill-country'));

            $this.hide();
        })

        $city.on('change', function() {
            if ($(this).val().length > 3) {
                searchForLocation();
            }
        });

        $state.on('change', function() {
            if ($(this).val().length > 3) {
                searchForLocation();
            }
        });

        $country.on('change', function() {
            if ($(this).val().length > 3) {
                searchForLocation();
            }
        });
    });
</script>