<input type="text" data-location-input="{{ uniqid }}" {% if value is not empty %} value="" {% endif %}/>
<ul data-location-choose="{{ uniqid }}"></ul>

<script type="text/javascript">
    if (typeof jQuery == 'undefined') { throw "No JQuery library found."; }

    (function() {
        var $ = jQuery;
        var $choose = $('[data-location-choose="{{ uniqid }}"]');
        var $field = $('[data-location-input="{{ uniqid }}"]');
        var elIndex = 0;
        var value = '{{ value }}';

        function locationString(data) {
            return data['city']['name'] + ' ' + data['city']['state']['name'] + ' ' + data['city']['state']['country']['name'];
        }

        function element(data) {
            var id = 'location-{{ uniqid }}-' + (++elIndex);
            var value = JSON.stringify(data).replace(/"/g, '&quot;');
            var $input = $('<input id="' + id + '">');
            var $label = $('<label for="' + id + '">' + locationString(data) + '</label>');
            var $li = $('<li>');

            $input.val(value).attr('type', 'radio').attr('name', '{{ full_name }}').attr('id', 'location-{{ uniqid }}-' + (++elIndex));

            $li.append($input).append($label);

            return $li;
        }

        function loadLocations(callback) {
            $.getJSON('{{ path('_location_find', {'location': '_location_' }) }}'.replace('_location_', $field.val()), function(data) {
                $choose.empty();

                for (var k in data) {
                    $choose.append(element(data[k]));
                }

                if (callback) {
                    callback.call();
                }
            });
        }

        function loadLocationsFromLatLang(latitude, longitude, callback) {
            var latLang = latitude + ',' +longitude;

            $.getJSON('{{ path('_location_find_lat_lang', {'location': '_location_' }) }}'.replace('_location_', latLang), function(data) {
                $choose.empty();

                for (var k in data) {
                    $choose.append(element(data[k]));
                }

                if (callback) {
                    callback.call();
                }
            });
        }

        $field.on('keyup', function() {
            if ($field.val().length < 3) {
                return false;
            }

            loadLocations();
        });

        if (value.length > 0) {
            value = value.replace(/&amp;/g, '&');
            value = value.replace(/&quot;/g, '"');
            value = JSON.parse(value);

            if (value['city']['name'].length > 0) {
                $field.val(locationString(value));

                if (Math.abs(value['coordinates']['latitude']) > 0 && Math.abs(value['coordinates']['longitude']) > 0) {
                    loadLocationsFromLatLang(value['coordinates']['latitude'], value['coordinates']['longitude'], function() {
                        $('input[name="{{ full_name }}"]').first().attr('checked', true);
                    });
                } else {
                    loadLocations();
                }
            }
        }
    })();
</script>