{% block potato_location_type_widget %}
    {% include "PotatoLocationBundle:Form:partials/location.html.twig" %}
{% endblock %}
{% block potato_location_persistent_type_widget %}
    {% include "PotatoLocationBundle:Form:partials/location.html.twig" %}
{% endblock %}
{% block potato_address_type_widget %}
    {% include "PotatoLocationBundle:Form:partials/address.html.twig" %}
{% endblock %}
{% block potato_address_persistent_type_widget %}
    {% include "PotatoLocationBundle:Form:partials/address.html.twig" %}
{% endblock %}