.potato-media-crop {
    border: 2px solid #aaa;
    cursor: move;
    cursor: hand;
    cursor: grab;
}

.potato-media-crop.grabbing {
    cursor: grabing;
}

.slider {
    position: relative;
    width: 100%;
    height: 20px;
}

.slider .slider-line {
    border-top: 1px solid #555;
    position: absolute;
    top: 10px;
    height: 1px;
    width: 100%;
}

.slider .slider-trigger {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid #222;
    position: absolute;
    top: 5px;
    left: 0px;
}