{% if form.vars.data is not empty %}{{ potato_media_image( file_preview_path ) }}{% endif %}
<input type="file" name="{{ full_name }}[file]" id="{{ id }}">
<input type="hidden" name="{{ full_name }}[old_file_path]" value="{{ file_preview_path }}"/>