<span id="preview-{{ id }}">{% if form.vars.data is not empty %}{{ potato_media_image( file_preview_path ) }}{% endif %}</span>
<input type="file" class="media-upload-crop" name="{{ full_name }}[file]" id="{{ id }}">
<input type="hidden" name="{{ full_name }}[old_file_path]" value="{{ file_preview_path }}">

<input type="hidden" name="{{ full_name }}[position][x]" id="position-x-{{ id }}">
<input type="hidden" name="{{ full_name }}[position][y]" id="position-y-{{ id }}">
<input type="hidden" name="{{ full_name }}[width]" value="{{ width }}">
<input type="hidden" name="{{ full_name }}[height]" value="{{ height }}">
<input type="hidden" name="{{ full_name }}[file]" id="file-{{ id }}">

<script>
    PotatoMedia.setUp({
        tmpUploadUrl: '{{ path('_potato_media_tmp_file_upload') }}',
        tmpUploadResult: '{{ path('_potato_media_tmp_file_get') }}'
    });

    var imgCrop = PotatoMedia.generateImgCropField(document.getElementById('{{ id }}'), {{ width }}, {{ height }});

    imgCrop.onpositionchange = function(x, y) {
        document.getElementById('position-x-{{ id }}').value = x;
        document.getElementById('position-y-{{ id }}').value = y;
    };

    imgCrop.onupload = function(file) {
        document.getElementById('file-{{ id }}').value = file;
    };

    imgCrop.onsubmit = function() {
        document.getElementById('preview-{{ id }}').style.display = 'none';
    };
</script>
